/*.caard{
.card__text{
    float:$start-dir;
    width: 80%;
    padding-#{$start-dir}: 20px;
    margin-bottom: 20px;
    h3{
        line-height: 1.1;
    }
}
.card__img{
    float:$start-dir;
    width: 15%;
    img{
        border-radius: 50%;
        width: 100%;
    }
}
}*/